/******************************************
	File Name: construction.css
    Template Name: materialize
    Created By: TrendyTheme
    Envato Profile: https://themeforest.net/user/trendytheme
    Website: http://trendytheme.net
    Version: 1.0
    Support: http://trendytheme.net/support
******************************************/

/*button style*/
.btn {
	font-size: 14px;
}

/*link style*/
a {
    color: #8090ec;
}
a:focus,
a:hover {
    color: #8090ec;
}


/*common form style*/
input[type=text]:focus:not([readonly]), 
input[type=password]:focus:not([readonly]), 
input[type=email]:focus:not([readonly]), 
input[type=url]:focus:not([readonly]), 
input[type=time]:focus:not([readonly]), 
input[type=date]:focus:not([readonly]), 
input[type=datetime-local]:focus:not([readonly]), 
input[type=tel]:focus:not([readonly]), 
input[type=number]:focus:not([readonly]), 
input[type=search]:focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #8090ec;
    box-shadow: 0 1px 0 0 #8090ec; 
}

input[type=text]:focus:not([readonly]) + label, 
input[type=password]:focus:not([readonly]) + label, 
input[type=email]:focus:not([readonly]) + label, 
input[type=url]:focus:not([readonly]) + label, 
input[type=time]:focus:not([readonly]) + label, 
input[type=date]:focus:not([readonly]) + label, 
input[type=datetime-local]:focus:not([readonly]) + label, 
input[type=tel]:focus:not([readonly]) + label, 
input[type=number]:focus:not([readonly]) + label, 
input[type=search]:focus:not([readonly]) + label, 
textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #8090ec !important; 
}




/* ============= Color Presets ================ */
.brand-color,
.brand-icon,
.team-title h3 a:hover,
.team-social-links li a:hover,
.flex-direction-nav a:before,
.card .card-title i,
.portfolio-item .card .card-title i,
.portfolio-item .card .card-content p a:hover,
.contact-info .mail a:hover {
    color: #202020 !important; /*theme primary color*/
}

.brand-bg,
.brand-hover:hover,
.brand-bar,
.brand-filter li:hover, 
.brand-filter li.active,
.icon-hover-brand:hover .icon {
    background-color: #8090ec !important; /*theme primary background color*/
}



/* ======== Navigation ============ */
.menuzord .menuzord-menu>li.active>a, 
.menuzord .menuzord-menu>li.active>a>i, 
.menuzord .menuzord-menu>li:hover>a, 
.menuzord .menuzord-menu>li:hover>a>i {
    color: #8090ec !important;
}

.menuzord-menu ul.dropdown li:hover>a, 
.menuzord-menu ul.dropdown li.active>a, 
.menuzord-menu>li>.megamenu .megamenu-row li:hover>a {
    color: #8090ec;
}

.menuzord-menu ul.dropdown li >a::before, 
.menuzord-menu>li>.megamenu .megamenu-row li >a::before {
    background-color: #8090ec;
}



/*Page Cover*/
.page-title-bg {
    background-image: url(../../img/construction/page-cover-layer.png);
    background-position: center center;
}


/*Homepage*/
.construction-promo {
    position: relative;
    top: -75px;
}

.building-landscape {
    background: url('../../img/construction/building-land.png') repeat-x center bottom;
    min-height: 133px;
}
.building-landscape.light {
    background: url('../../img/construction/building-land-light.png') repeat-x center bottom;
}



/*Portfolio page*/
.portfolio-item .card .card-reveal {
    background-color: rgba(251, 192, 45, 0.95);
}
.portfolio-item .card .card-reveal .card-title i {
    color: #fff !important;
}

.card a:hover {
    color: #f57f17;
}


.portfolio-overview h2 {
    font-size: 36px;
    margin-top: 5px;
    margin-bottom: 25px;
}



/*
Vertical Tab
------------------------------------------------------------*/
.vertical-tab .nav-tabs>li>a {
    color: #303b41;
    background: #8090ec;
}

.vertical-tab .nav-tabs>li.active>a, 
.vertical-tab .nav-tabs>li.active>a:focus, 
.vertical-tab .nav-tabs>li.active>a:hover {
    background-color: #2c2c2c;
    color: #8090ec;
}



/*footer*/
.copy-text {
    color: #9a9a9a;
}
.footer p,
.footer-list li a {
    color: #eee;
}

.copy-text a:hover,
.footer-list li a:hover,
.twitter-widget-wrapper a,
.social-link li a i:hover {
    color: #8090ec;
}
.twitter-widget-wrapper a:hover {
    color: #f57f17;
}


/* 
Subscription Widget
------------------------------------------------ */
.primary-footer .widget .form-control {
    border: 1px solid rgba(255, 255, 255, 0.25) !important;
}
.primary-footer .widget .form-control:focus {
    border: 1px solid #8090ec !important;
    box-shadow: none !important;
}
.primary-footer .form-group input[type="text"],
.primary-footer .form-group input[type="email"] {
    color: #fff;
    background-color: transparent;
}
.primary-footer .form-group input::-webkit-input-placeholder {
   color: #fff;
}
.primary-footer .form-group input::-moz-placeholder {
   color: #fff;  
}
.primary-footer .form-group input:-ms-input-placeholder {  
   color: #fff; 
}

.primary-footer .form-group button {
    color: #fff;
    background: #8090ec;
}


.widget-tags a:hover {
    background-color: #8090ec;
}



/* ======== REV 4 Slider CSS ============ */
.tp-banner-container{
    width:100%;
    position:relative;
    padding:0;
}
.tp-banner{
    width:100%;
    position:relative;
}
.tp-banner > ul {
    padding: 0;
    list-style: none;
}
.tp-banner-fullscreen-container {
    width:100%;
    position:relative;
    padding:0;
}





